{% comment %}CLUB - show customer referral banner with link on account page{% endcomment %}
{% if customer.metafields.my_fields.referral_link %}
    <div class="referral">
        <h2>💭 Refer a Friend</h2>
        <p><strong>Give a backdrop, Get a backdrop</strong></p>
        <p>Just share your unique link:</p>
        <p class="referral-link"><strong>{{- customer.metafields.my_fields.referral_link | split: "//" | last -}}</strong> <a href="#" class="copy-link" onclick="navigator.clipboard.writeText('{{- customer.metafields.my_fields.referral_link -}}'); return false;">&#128203;</a></p>
        <p>New customers who shop via your link will be rewarded with <strong>a FREE BACKDROP</strong>**. For every successful referral you'll also earn the value of a free backdrop, awarded as points that you can claim any time.</p>
        <small>
            <em>**With any other backdrop purchase (excluding Mystery Packs). Read the full <a href="https://clubbackdrops.com/pages/club-referrals-terms">Club Referrals Terms &amp; Conditions &rarr;</a></em>
        </small>
    </div>
{% endif %}