{% comment %}
    CLUB - Renders shipping discount banner

    Usage:
    {% render 'club-shipping-discount-banner' %}
{% endcomment %}

{% capture zone %}{% render 'club-zone' %}{% endcapture %}

{%- liquid
    case zone
      when 'GB'
        assign free_shipping_threshold = 80
      when 'EU'
        assign free_shipping_threshold = 120
      when 'US'
        assign free_shipping_threshold = 120
      when 'AU'
        assign free_shipping_threshold = 160
      when 'CA'
        assign free_shipping_threshold = 160
      else
        assign free_shipping_threshold = 130
    endcase
-%}

<div class="club-shipping-discount-banner">
    <p><span class="highlight">{{ zone }}</span></p>
    <p>{{ free_shipping_threshold }}</p>
    {%- if cart.item_count == 1 -%}
    <p class="dashed-banner accent-text accent-border">Add <strong>1 more item</strong> to get <span class="highlight">15% off</span></p>
    {%- elsif cart.item_count == 2 -%}
    <p class="dashed-banner accent-text accent-border">Add <strong>1 more item</strong> to get <span class="highlight">20% off</span></p>
    {%- elsif cart.item_count == 3 -%}
    <p class="dashed-banner accent-text accent-border">Add <strong>1 more item</strong> to get <span class="highlight">25% off</span></p>
    {%- elsif cart.item_count >= 4 -%}
    <p class="dashed-banner">You got <span class="highlight">25% off</span>!</p>
    {%- endif -%}
</div>